// VARIABLES
$input-btn-font-family: initial !default;
$dropdown-dark-box-shadow: initial !default;
$nav-link-font-size: initial !default;
$nav-link-font-weight: initial !default;
$card-title-color: initial !default;
$card-subtitle-color: initial !default;
$card-box-shadow: initial !default;
$card-cap-color: initial !default;
$card-height: initial !default;
$card-color: initial !default;
$breadcrumb-bg: initial !default;
$breadcrumb-border-radius: initial !default;
$nested-kbd-font-weight: initial !default; // Deprecated in v5.2.0, removing in v6
$toast-color: initial !default;
$pre-color: initial !default;
$modal-content-color: initial !default;
$modal-footer-bg: initial !default;
$tooltip-margin: initial;

// stylelint-disable
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$gray1: #f2f2f2;
$gray2: #d9d9d9;
$gray3: #cccccc;
$gray4: rgb(113, 113, 113);
$gray5: #333333;


// scss-docs-start color-variables
$darkblue: #004a9a !default;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
$main: #1e3885 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary: $main !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
$lighter: $gray1 !default;

$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
) !default;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
) !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1330px
) !default;

// Base
$font-size-base: 1rem;
$font-size-xxl: $font-size-base * 1.5 !default;
$font-size-xl: $font-size-base * 1.25 !default;
$font-size-lg: $font-size-base * 1.125 !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-xs: $font-size-base * .75 !default;

// Links
$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;


// Carousel
$carousel-indicator-width: 1rem;
$carousel-indicator-height: 1rem;
$carousel-indicator-spacer: 0.93rem;
$carousel-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
$carousel-transition-sm: transform 0.5s ease-out, opacity 0.5s ease-out;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
                (
                        0: 0,
                        1: ($spacer * .25),
                        2: ($spacer * .5),
                        3: $spacer,
                        4: ($spacer * 1.5),
                        5: ($spacer * 3),
                        6: ($spacer * 3.25),
                        7: ($spacer * 3.5),
                        8: ($spacer * 4.5),
                        9: ($spacer * 5.5),
                        10: ($spacer * 6),
                        xs: ($spacer * 0.625),
                        sm: ($spacer * 1.25),
                        md: ($spacer * 2.5),
                        lg: ($spacer * 5),
                        xl: ($spacer * 7.5),
                ),
                $spacers
);

$font-sizes: (
        base: $font-size-base,
        xl: $font-size-xl,
        lg: $font-size-lg,
        sm: $font-size-sm,
        xs: $font-size-xs,
);

// Modals

// scss-docs-start modal-variables
$modal-inner-padding: $spacer * 2 !default;
$modal-header-padding-y: $spacer !default;
$modal-header-padding-x: $modal-inner-padding !default;
